{
    "presets": [
      [
        "@babel/preset-env",
        {
          "debug": true,
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "sourceMaps": true,
    "ignore": ["node_modules"],
    "only": ["src"]
}