doctype
html
  head
    title Node.js App
    meta( name='viewport', content='width=device-width, initial-scale=1')
    link( rel='shortcut icon', href='/shortcut-icon.png')
    link( rel='stylesheet', href='/pui-3.0.0/pivotal-ui.min.css')
    link( rel='stylesheet', href='/font-mfizz-2.3.0/font-mfizz.css')
    script( src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script( src='/javascripts/ping.js')
    script( src='/start.js')

  body
    //- TODO try to make the button more centered in the UI
    //- TODO Create a text field to write text and send it to the BE--
    //- TODO Create another button to delete always the last entry--
    .container.pan
      section.header
        include ../partials/header
      section.content
        include ../partials/content
      section.footers
        include ../partials/footer
    input(type='text', style='display: block; margin: 0 auto;' id='text')
    button(type='button', style='display: block; margin: 0 auto;' onclick='absenden()') Senden
    button(type='button', style='display: block; margin: 0 auto;' onclick='reset()') Delete Last Entry
    


